spring:
  application:
    name: backend

  ##자동갱신##
  devtools:
    livereload:
      enabled: true
    restart:
      enabled: true

  thymeleaf:
    cache: false

  ##DATABASE##
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/shop?serverTimezone=UTC
    username: root
    password: 1234

  ##JPA##
  jpa:
    properties:
      hibernate:
        show_sql: true
        format_sql: true

    ## ddl : Data Definition Language
    database-platform: org.hibernate.dialect.MySQLDialect


    hibernate:
      ddl-auto: create





